<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <h1>Log In Page</h1>
    <h3>You viewed this page <%= req.session.views[path] %> times.</h3>
    <% if (messages.error) { %>
        <%=  messages.error %>
    <% } %>
    <form action="/users/login" method="POST">
        <div>
            <label for="email">Email: </label>
            <input type="email" id="email" name="email">
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password">
        </div>
        <div>
            <button type="submit">Log In</button>
        </div>
        <a href="/users/register">Register</a>
    </form>
</body>
</html>